
@{
    ViewData["Title"] = "Index";
}

<h1>About</h1>

<nav>
    <a href="https://drive.google.com/file/d/1EdwAJbQiNw2KeKodFNSEsJYP4KhVKNsD/view?usp=sharing">My CV</a>
    <br /><br />
    <a href="https://drive.google.com/file/d/161R0skxq4CRgg4nS44zB3_ibkGxMp7dn/view?usp=sharing">My Personligt Brev</a>
</nav>